
* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}



/* Стилизация хэдера */

header {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #000000;
}


.headerContainer {
    max-width: 72.5rem;
    height: 5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin: 0 auto;
    align-items: center;
}

.underCont{
    display: flex;  
    width: 100%;
    max-width: 53.1%;
    justify-content: space-between;
}

.headerNavigation {
    display: flex;
    margin-left: 3.93rem;
    padding: 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.headerNavigation li {
    list-style-type: none;

}

.headerNavigation li:first-child a {
    color: #FE9013;
}

.headerNavigation li:hover {
    color: #FE9013;
    cursor: pointer;
}

.headerNavigation li a{
    text-decoration: none;
    color: #FFFFFF;
}

.headerNavigation li a:hover{
    color: #FE9013;
}

.infoDesign a {
    text-decoration: none;
    color: #FFFFFF;
}

.infoDesign a:hover {
    color: #FE9013;
}

.burger-menu, .logo2 {
    display: none;
}


/* Стилизация Main */

    /* Стилизация Watch your favorite animal online */
    .WatchYourFavoriteAnimalOnline {
        position: relative;
        top: -5rem;
        z-index: 0;
        width: 100%;
        height: 48.75rem;
        background-size:  cover ;
	    background-repeat: no-repeat;
	    background-image: url(../../assets/images/Giant_Panda.png);
        margin-bottom: -5rem;
    }    
   
    .watchAnimal_container {
        position: relative;
        font-family: 'Roboto';
        margin: 0 auto;
        height: 100%;
        max-width: 72.5rem;
    }
    
    .watchAnimal_circl {
        position: absolute;
        z-index: 1;
        top: 5.75rem;
        right:9.3%;
        
        border-radius: 50%;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        height: 29.06rem;
        width: 29.06rem;
    }

    .watchAnimal_text {
        position: absolute;
        z-index: 2;
        top: 10.3rem;
        right: 0.1%;
        
        font-weight: 700;
        font-size: 6.67rem;
        line-height: 75%;
        text-align: center;
        width: 31.25rem;
        color:#FFFFFF;
        text-transform: uppercase;
    }

    .watchAnimal_text span {
        color: #FFEE2E;
    }

    .watchAnimal_container .button {
        position: absolute;
        z-index: 5;
        right: 8.6%;
        top: 39.1rem;
        width: 18.6rem;
        height: 3.37rem;
        border-radius: 1.56rem;
        border: none;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        font-style: Medium;
        font-size: 1rem;
        line-height: 1.375rem;
        color:#FFFFFF;
    }

    

    
    

    /* Стилизация The Backstage и Pets*/

    .Backstage_Pets {
        position: relative;
    }

    .container_Backstage {
        
        font-family: 'Roboto';
        margin: 0 auto;
        width: 100%;
    }

    .content_Backstage {
        display: flex;
        justify-content: space-between;
        margin-top: 8.75rem;
        margin-bottom: 11.25rem;
        max-width: 72.5rem;
        margin: 0 auto;
        margin-top: 140px;
        margin-bottom: 180px;
    }

    .content_Backstage_img {
        max-width: 52.5%;
    }
    .content_Backstage img {
        max-width: 100%;
        height: 25.1rem;
    }

    .textDed {
       max-width: 465px;
        
    }

    .textDed h1{
        font-weight: 400;
        font-size: 3rem;
        line-height: 120%;
        color: #333B41;
        margin-bottom: 1.25rem;
    }

    .textDed p{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 1rem;
        line-height: 130%;
        color: #333B41;
    }

    .textDed p:first-of-type{
        margin-bottom: 3.375rem;
    }

    .textDed h2{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: #333B41;
        margin-bottom: 2.12rem;
    }

    .flower1 {
        max-width: 12.75%;
        height: 605px;
        position: absolute;
        right: 0;
        top: -8.25rem;
    }




    .Pets {
        width: 100%; 
        position: relative;
    }

    .pets_container {
        margin: 0 auto;
        max-width: 72.5rem;  
        overflow: hidden;
        
    }

    .list1, .list2 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: space-between;
        position: absolute;
        left: 0px;
        
    }

    .relsa {
        
        left: 0;
        transition: 2s;
        
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        justify-content: flex-start;
    }

    .relsa2 {
        
        left: 0;
        transition: 2s;
        top:50%;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        justify-content: flex-start;
    }

    .relsa3 {
        position: relative;
        display: flex;
        justify-content: space-between;
        left: 0px;
        transition: 2s;
    }

    .relsa3 .feedback {
        margin: 2px;
        margin-right: 27px;
    }

    

    .feedback {
        
        min-width: 268px;
    }

    .relsa > *, .relsa2 > * {
        transition: 3s;
    }

    .animal_description {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 0.875rem;
        align-items: center;
        height: 60px;
    }

    

    .card1, .card2, .card3 {
        
    }


    .card1, .card2, .card3, .card4, .card5, .card6 {
        
        margin: 10px;
        margin-top: 0px;
        margin-right: 12px;
        margin-left: 12px;
        position: relative;
        border-radius: 5px;
        border: 1px solid ;
        border-color: #FA6F32 #FE9013;
        width: 366px;
        background-color: #FFFFFF;
    }
    
   

    .card1 div:first-child, .card2 div:first-child, .card3 div:first-child, .card4 div:first-child, .card5 div:first-child, .card6 div:first-child{
        overflow: hidden;
        max-height: 22.875rem;
        position: relative;
        z-index: 1;
    }
    .card1 div:first-child img, .card2 div:first-child img, .card3 div:first-child img, .card4 div:first-child img, .card5 div:first-child img, .card6 div:first-child img{
        width: 100%;    
        max-height: 366px;
        
    }


    .card1:hover img:first-child, .card2:hover img:first-child, .card3:hover img:first-child, .card4:hover img:first-child, .card5:hover img:first-child, .card6:hover img:first-child {
        transform: scale(110%);
   
    }

   

    .animal_description {
        z-index: 0;
        position: relative;
        top: 0;

    }

    .card1:hover .animal_description, .card2:hover .animal_description, .card3:hover .animal_description, .card4:hover .animal_description, .card5:hover .animal_description, .card6:hover .animal_description {
        transition: 0.5s;
        z-index: 2;
        top: -60px;
        position: relative;
        background-color: rgba(139, 139, 139, 0.6);
    }

    .animal_description h3{
       
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: #000000;
    }

    .animal_description p{
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #000000;
        
    }

    .wrapButton {
        margin: 0 auto;
        text-align: center;
    }

    .button_pets {
        width: 18.6rem;
        height: 3.37rem;
        border-radius: 1.56rem;
        border: none;
        background: #FE9013;
        font-style: medium;
        font-size: 1rem;
        line-height: 1.375rem;
        color:#FFFFFF;
        text-transform: uppercase;
        margin-top: 55px;
        margin-bottom: 6.25rem;
    }

    .arrows {
        position: absolute;
        top:25,18rem;
        display: flex;
        top:27rem;
        left:50%;
        right: -50%;
        transform:translate(-50%, -50%);
        max-width: 83rem;
        justify-content: space-between;
    }

    .arrow1, .arrow2 {
        z-index: 5;
        width: 62px;
        height: 62px;
        text-align: center;
        color:#FFFFFF;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 50%;
        font-size: 30px;
        border: none;
    }

    

    .flower2, .flower3 {
        position: absolute;
        z-index: -1;
    }
    
    .flower22 {
        display: none;
    }

    .flower2 {
        bottom: 0;
        left: 0;
        
    }

    .flower3 {
        bottom: 0px;
        right: 0px;
    }


    /* Стилизация Pick and feed a friend*/

    .PickAndFeedAFriend {
        display: flex;
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        width: 100%;
    }

    .pickAndFeedСontent {
        max-width: 72.5rem;
        margin: 0 auto;
        margin-top: 4.31rem;
        margin-bottom: 6.25rem;
        padding-top: 2.56rem ;
        padding-bottom: 3.68rem ;
        padding-left: 4.9rem;
        padding-right: 4.9rem;
        background: rgba(253, 253, 255, 0.52);
        border-radius: 20px;
        line-height: 120%;
    }

    .pickAndFeedText {
        padding-left: 0px;
        
    }

    .pickAndFeedText p{
        letter-spacing: 0px;
        
    }

    .pickAndFeedСontent h1 {
        color: #FE9013;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 31px;
    }

    .pickAndFeedСontent h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
        margin-bottom: 40px;
        line-height: 120%;
        
    }

    .pickAndFeedText p:first-of-type {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #333B41;
        margin-bottom: 10px;
    }
    .emergSupLink {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #333B41;
    }
    .pickAndFeedСontent p {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #333B41;
        margin-bottom: 60px;
        line-height: 130%;
    }
    
    .pickAndFeedСontent span {
        border-bottom: 1px solid #FE9013;
    }
    

    .howItWorks {
        text-align: center;
        max-width: 47.75rem;
        margin: 0 auto;
    }

    .howItWorks h2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #333B41;
        margin-bottom: 40px;
    }
    
    .wayForPay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .backPay {
        border-radius: 5px;
        display: flex;
            align-items: center;
            justify-content: center;
        width: 168px;
        height: 168px;
        background-color: #FFFFFF;
        border: 1px solid ;
        border-color: #FE9013 #F9804B;  
    }

   
    .payDecs {
        margin-bottom: 0;
        width: 168px;
        height: 46px;
        margin-top: 30px;
        text-align: start;
        
    }

    .payDecs p {
        font-weight: 400;
    }

    .vect {
        margin-bottom: 95px;
    }

    .button_fid {
        width: 298px;
        height: 54px;
        border-radius: 1.56rem;
        border: none;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        font-size: 1rem;
        line-height: 1.375rem;
        color:#FFFFFF;
        text-transform: uppercase;
        margin-top: 3.75rem;
        
    }



    /* Стилизация Testimonials*/

    .Testimonials {
        display: inline-block;
        text-align: center;
        position: relative;
        width: 100%;
    }

    

    .Testimonials_container h1{
        
        text-align: center;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
        color: #333B41;
        margin-bottom: 2.94rem;
    }

    .Testimonials_container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: 8.75rem;
        margin-bottom: 11.25rem;
    }

    .feedback_container {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        margin: 0 auto;
        overflow: hidden;
        
    }

    .feedback {
        position: relative;
        width: 268px;
        padding: 1rem 1rem 1.19rem 1rem;
        background: #F1F3F2;
        border-radius: 20px;
        text-align: start;
    }

    .feedback::before {
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 22px;
        background: linear-gradient(#FEBDAB 74%, #F3A9F8 66%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%);
        content: "";
        z-index: -1;
    }

    .feedback_head {
        display: flex;
        margin-bottom: 0.625rem;
        
    }

    .text_feedback {
        height: 309px;
        overflow: hidden;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #767474;
        
    }


    .infoAboutAuthor {
        margin-left: 0.625rem;
    }


    .infoAboutAuthor h3 {
        
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #000000;
    }

    .location, .date {
        display: inline;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #BDBDBD;
    }


    .authorIcon {
        width: 2.31rem;
        height: 2.31rem;
    }
    
    .progress {
        max-width: 600px;
        margin: 0 auto;
    }
    

        input[type=range].styled-slider {
            height: 8px;
            -webkit-appearance: none;
            margin-top: 20px;
            width: 600px;
        }
        
        input[type=range].styled-slider:focus {
            outline: none;
        }
        
        input[type=range].styled-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 115px;
            height: 6px;
            border-radius: 5px;
            background: #FE9013;
            border: none;
            box-shadow: 0 0 2px black;
            margin-top: calc(max((8px - 0.5px - 0.5px) * 0.5,0px) - 6px * 0.5);
        }
        
        input[type=range].styled-slider::-webkit-slider-runnable-track {
            height: 8px;
            border: 0.5px solid #B2B2B2;
            border-radius: 5px;
            background: #F5F7F6;
            box-shadow: none;
        }
        
        input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
            background: #e5e5e5;
            border-color: #9a9a9a;
        }
        
        input[type=range].styled-slider::-webkit-slider-thumb:active {
            background: #E47209;
        }
        
        input[type=range].styled-slider:active::-webkit-slider-runnable-track {
            background: #f5f5f5;
            border-color: #c1c1c1;
            
        }
        
        /*mozilla*/
        input[type=range].styled-slider::-moz-range-thumb {
            width: 115px;
            height: 6px;
            border-radius: 5px;
            background: #FE9013;
            border: none;
            box-shadow: 0 0 2px black;
        }
        
        input[type=range].styled-slider::-moz-range-track {
            height: max(calc(8px - 0.5px - 0.5px),0px);
            border: 0.5px solid #B2B2B2;
            border-radius: 5px;
            background: #F5F7F6;
            box-shadow: none;
        }
        
        input[type=range].styled-slider:hover::-moz-range-track {
            background: #e5e5e5;
            border-color: #9a9a9a;
        }
        
        input[type=range].styled-slider::-moz-range-thumb:active {
            background: #E47209;
        }
        
        input[type=range].styled-slider:active::-moz-range-track {
            background: #f5f5f5;
            border-color: #c1c1c1;
        }
        
       
  

        .buttonFeadbackWrapper {
            max-width: 72.5rem;
            margin: 0 auto;
        }

      .buttonFeadback {
        display: block;
        width: 18.6rem;
        height: 3.37rem;
        border-radius: 5px;
        border: none;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.375rem;
        color:#FFFFFF;
        text-transform: uppercase;
        margin-top: 26px;
        
      }

      .flower4 {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: -310px;
        
      }

      .flower44 {
        display: none;
      }

      .Greenarrows {
        display: none;
      }

/* Стилизация футера */

    .footerContainer2 {
        display: none;
    }

    .footerContainer3 {
        display: none;
    }

      footer {
        display: inline-block;
        width: 100%;
        background: #000000;
      }

      .footerContainer {
        
        max-width: 72.5rem;
        font-size: 1rem;
        color: #FFFFFF;
        margin: 0 auto;
      }

      .footerLineOne {
        display: flex;
        justify-content: space-between;
        margin-top: 2.5rem;
      }

      .subscription h1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 0.875rem;
      }

      .inputFooter {
        font-weight: 100;
        font-size: 16px;
        color: #BDBDBD;
        border: 1px solid #F9804B;
        background: none;
        padding: 10px;
        width: 14.25rem;
        border-radius: 5px;
        margin-right: 0.625rem;
        outline:none;
      }

      .buttonFooterSubmit {
        font-weight: 400;
        font-size: 16px;
        color: 
        #000000;
        border: 1px solid 
        #000000;
        padding: 0.625rem 2.43rem;
        border-radius: 5px;
      }

      .donateButtonFooter {
        display: block;
        width: 18.6rem;
        height: 3.37rem;
        border-radius: 5px;
        border: none;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.375rem;
        color:#FFFFFF;
        text-transform: uppercase;
        margin-top: 2.25rem;
        margin-bottom: 2.81rem;
      }

      .footerLineTwo {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 3.125rem;
      }

      .social {
        width: 111px;
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .inderLinkSocial {
        display: flex;
        align-items: end;
      }

      .inderLinkSocial div{
        width: 38px;
        height: 26px;
      }

      .socialLink a {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
      }
      

      .footerNavigation {
        display: flex;
        margin-left: 3.93rem;
        padding: 0;
        align-items: center;
        padding-left: 100px;
    }
    
    .footerNavigation li {
        list-style-type: none;
        margin-right: 3.63rem;
    }
    
    .footerNavigation li:first-child a {
        color: #FE9013;
    }
    
    .footerNavigation li:hover {
        color: #FE9013;
        cursor: pointer;
    }
    
    .footerNavigation li a{
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .footerNavigation li a:hover{
        color: #FE9013;
    }

    .designBy {
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        opacity: 0.3;
    }

    .designBy p:first-child {
        margin-bottom: 0.625rem;
         
    }



    .watchAnimal_container .button:hover, .button_pets:hover, .button_fid:hover, .button_fid:hover, .buttonFeadback:hover, .donateButtonFooter:hover {
        background: #E47209;
    }
    
    .watchAnimal_container .button:active, .arrow1:active, .arrow2:active, .button_pets:active, .button_fid:active, .buttonFeadback:active, .donateButtonFooter:active{
        background: #4B9200;
    }

    .watchAnimal_container .button:disabled,  .button_pets:disabled, .button_fid:disabled,.buttonFeadback:disabled, .donateButtonFooter:disabled {
        background: #767474;
    }

    .buttonFooterSubmit:active {
        border-color: #4B9200;
        color:#4B9200;
    }

    .inputFooter:focus{
        border-color: #4B9200;
    }

    .inderLinkSocial img {
        
        border-radius: 100%;
    }

    .inderLinkSocial:active img {
        opacity: 1;
        background-color:#4B9200
    }
    .inderLinkSocial:active p {
        color:#4B9200
    }


    .CardsOfAnimal {
       height: 896px;
    }
    


    /*===========================================*/

    @media (max-width: 1580px) {
        
        main {
            overflow: hidden;
        }
        
        .flower1 {
            display: none;
        }

        .flower2{
            height: 202px;
            display: none;
        }
        
        
    
        .flower2 {
            bottom: 0;
            left: 0;
            
        }

        .flower22 {
            display: block;
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
        }
    
        .flower3 {
            height: 180px;
            width: 241px;
        }
    }

    @media (max-width: 1295px) {

        .relsa2 {
            top:40%
        }

        .card1, .card2, .card3, .card4, .card5, .card6 {
            max-width: 294px;
            margin-bottom: 0;
          }

          .CardsOfAnimal {
            max-width: 955px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            height: 875px;
          }

          

        .arrows {
            position: relative;
            height: 92px;
            width: 940px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 46%;
        }
    
        .arrow1, .arrow2 {
            z-index: 5;
            width: 62px;
            height: 62px;
            text-align: center;
            color:#FFFFFF;
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            border-radius: 50%;
            font-size: 30px;
            border: none;
        }
    
        .card1, .card2, .card3 {
            margin-bottom: 0;
          }

        .arrow1{
            margin-right: 171px;
        }
    
        

        .button_pets {
            margin-top: 0px;
            margin-bottom: 140px;
        }

        .pickAndFeedСontent {
            margin: 30px 30px 50px 30px;
            padding: 30px 48px 50px 49px;
        }

        .pickAndFeedText h1 {
            margin-bottom: 20px;
        }

        .pickAndFeedText h3 {
            margin-bottom: 20px;
        }

        .pickAndFeedText p:last-of-type {
            margin-bottom: 40px;

        }

        .button_fid {
            margin-top: 70px;
        }
    }

    @media (max-width: 1180px) {
        .Testimonials_container{
            margin-top: 100px;
            margin-bottom: 135px;
        }

        .Testimonials_container h1 {
            margin-bottom: 30px;
        }

        
        .feedback {
            width: 268px;
            height: 390px;
               
        }

        .relsa3 .feedback {
            margin-left: 15px;
            margin-right: 15px;
        }

        .relsa3 {
            margin: 0 auto;
            width: 910px; 
        }

        .feedback:last-child {
            display: none
        }

        .feedback_container {
            max-width: 905px;
        }

        
    }





/*===========================================*/
    

    @media (max-width: 1000px) {
        
        

        body {
           width: 100%;
            overflow-x: hidden;
        }

        
        .underCont{
            display: flex;  
            width: 100%;
            max-width: 576px;
            justify-content: space-between;
        }
        
        .headerContainer {
            padding: 0 3%;
        }

        .headerNavigation {
            max-width: 430px;
            margin-left: 0;
        }
        
        .WatchYourFavoriteAnimalOnline {
            background-size:  1000px 584px ;
            background-image: url(../../assets/images/Giant\ Panda2.png);
            height: 584px;
        } 

        .watchAnimal_circl {
            height: 367px;
            width: 367px;
            top: 69px;
            right: 17.7%;
        }
    
        .watchAnimal_text {
            top: 122px;
            right: 8.6%;
            font-size: 85px;
            width: 400.25px;

        }
    
        .watchAnimal_container .button {
            top: 483px;
            right: 13.7%;
        }







        .TheBackstage {
            max-width: 940px;
            margin: 0 auto;
        }
        

        .container_Backstage {
            margin-top: 100px;
            margin-bottom: 140px;
            overflow: hidden;
            width: 100%;
            padding: 9px 0 9px;
            padding-bottom: 0px;
                        
        }
    
        .content_Backstage {
            display: flex;
            align-content: center;
            margin: 0; 
             
        }

        .content_Backstage img{
            width: 455px;
            height: 408px;
            overflow: hidden;
        }
    
        .content_Backstage_img img{
            
          
            position: relative;
           
           
        }
        
        .textDed {
            max-width: 454px;
            margin-top: -9px;
        }

        .textDed p {
            line-height: 140%;
        }

        .CardsOfAnimal {
            
            max-width: 955px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
        }

        .card1, .card2, .card3, .card4, .card5, .card6 {
            max-width: 294px;
            margin-bottom: 0;
        }

        .card1 div:first-child img, .card2 div:first-child img, .card3 div:first-child img, .card4 div:first-child img, .card5 div:first-child img, .card6 div:first-child img{

            max-height: 294px;
        }
        
        .card1 div:first-child, .card2 div:first-child, .card3 div:first-child, .card4 div:first-child, .card5 div:first-child, .card6 div:first-child{
            
            max-height: 294px;
            
        }

        
    
        .arrow1, .arrow2 {
            z-index: 5;
            width: 62px;
            height: 62px;
            text-align: center;
            color:#FFFFFF;
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            border-radius: 50%;
            font-size: 30px;
            border: none;
        }
    
        .arrow1{
            margin-right: 171px;
        }
    


        .flower2{
            height: 202px;
            
        }
    
        .flower3 {
            height: 180px;
            width: 241px;
        }

        

        .pickAndFeedСontent {
            max-width: 100%;
            margin: 30px 30px 50px 30px;
            padding: 30px 48px 50px 49px;
        }

        .pickAndFeedСontent h1 {
            margin-bottom: 20px;
        }

        .pickAndFeedСontent h3 {
            margin-bottom: 20px;
        }

        .pickAndFeedСontent p:last-of-type {
            margin-bottom: 40px;

        }

        .button_fid {
            margin-top: 70px;
        }

        


        .progress {
            max-width: 390px;
        }
        
    
            input[type=range].styled-slider {
                width: 390px;
            }
            
            input[type=range].styled-slider::-webkit-slider-thumb {
                width: 75px;
            }

            input[type=range].styled-slider::-moz-range-thumb {
                width: 75px;
            }

            .buttonFeadbackWrapper {
                max-width: 940px;
                margin-top: 52px;
            }





            .footerContainer {
                max-width: 100%;
                padding: 0 30px 0 43px;
            }

            .footerNavigation {
                width: 335px;
                padding: 0;
                margin: 0;
                justify-content: space-between;
            }
            
            .footerNavigation li {
                margin: 0;
            }
            
            .subscription {
                margin-right: 20px;
            }
            .social {
                margin-right: 105px;
            }

            .flower4 {
                width: 195px;
                height: 320px;
                bottom: -220px;
            }
    }

    

    @media (max-width: 960px) {

        .list1 > div:last-child, .list2 > div:last-child {
            display: none;
          }
          
        .CardsOfAnimal {
            max-width: 640px;
            height: 760px;
        }

        .arrows {
            top: 50%;
        }

        .card1, .card2, .card3, .card4, .card5, .card6 {
            width: 285px;
            margin: 0;
            margin-right: 8px;
            margin-left: 8px;
        }

        .relsa2 {
            top: 43%;
          }


        .x_iconComment:hover {
            cursor: pointer;
        }

        .darkBack2 {
            background-color: rgb(0%, 0%, 0%, 0.4);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }

        .smallComment {
            position: absolute;
            z-index: 15;
            top: 50%;
            left:50%;
            right: -50%;
            transform:translate(-50%, -50%);
            display: flex;
            justify-content: center;
            height: 428px;
            width: 320px;
            background-color: rgba(245, 247, 246, 0.8);
            border-radius: 15px;
            
        }

        .smallComment_container {
            padding: 1rem 1rem 1.19rem 1rem;
            background: #F5F7F6;
            border-radius: 20px;
            text-align: start;
            margin: 20px 12px 17px 17px;
            width: 267px;
            height: 391px;
            border-radius: 20px;
        }

        .smallComment_container::before {
            position: absolute;
            top: 17px;
            bottom: 13px;
            left: 14px;
            right: 33px;
            border-radius: 22px;
            background: linear-gradient(#FEBDAB 74%, #F3A9F8 66%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%);
            content: "";
            z-index: -1;
          }

        .smallComment .text_feedback {
            height: 309px;
            width:237px;
        }

        .x_iconComment {
            margin-top: 12px;
            margin-right: 10px;
        }

        .relsa3 {
            display: flex;
            flex-direction: column;
            max-height: 357px;
            overflow: hidden;
            align-content: center;
            width: 100%;
        }

        .relsa3  .feedback {
            
            margin-right: 0;
            margin: 2px;
            margin-bottom: 13px;
        }

        .list1 > div:last-child, .list2 > div:last-child {
            display: none;
        }

        

        .arrows {
           padding-top: 11px;
           padding-bottom: 19px;
            width: 600px;
        }

        .arrow1 {
            margin-right: 30px;
        }


    

        .animal_description {
            height: 46.76px;
            padding-left: 12.47px;
            padding-right: 9.8px;
        }

        .animal_description p{ 
            font-weight: 300;
            font-size: 11.6901px;
            line-height: 120%;
        }

        .animal_description h3{ 
            font-weight: 500;
            font-size: 12.4695px;
            line-height: 140%;
        }

        .card1 div:first-child img, .card2 div:first-child img, .card3 div:first-child img, .card4 div:first-child img, .card5 div:first-child img, .card6 div:first-child img{
            max-height: 285.24px;
        }
        
        .card1 div:first-child, .card2 div:first-child, .card3 div:first-child, .card4 div:first-child, .card5 div:first-child, .card6 div:first-child{  
            max-height: 285.24px;
        }

        .button_pets {
            margin-top: 60px;
            margin-bottom: 98px;
        }
        
        .flower2 {
            display: block;
            width: 134px;
            height: 202px;
        }

        .flower22 {
            display: none;
        }
        
        .flower3{
            width:175px;
            height: 131px;
        }

        .pickAndFeedСontent {
            margin: 20px 0;
            padding: 0;
        }

        .pickAndFeedText {
            margin: 10px 20px 30px 20px;
        }

        .pickAndFeedСontent h1 {
            margin-bottom: 20px;
            font-size: 42px;
            line-height: 120%;
        }

        .pickAndFeedСontent h3 {
            font-size: 22px;
            line-height: 120%;
            margin-bottom: 20px;
        }

        .pickAndFeedСontent p {
            font-size: 16px;
            line-height: 130%;

        }

        .button_fid {
            margin-top: 70px;
        }

        .pickAndFeedСontent p:last-of-type {
            margin-bottom: 30px;

        }

        .Testimonials_container {
            padding: 0 20px 0 20px;
            max-width: 100%;
            margin-top: 60px;
            margin-bottom: 80px;
        }

        .Testimonials_container h1 {
            margin-bottom: 30px;
        }

        .feedback_container {
            flex-direction: column;
        }

        .feedback {
            width: 99%;
            padding: 15px 29px 8px 12px;
            height: 107px;
            margin-bottom: 15px;
        }

        

        .text_feedback {
            height: 38px;
            padding-left: 6px;
        }

        .progress {
            display: none;
        }

        .feedback:last-child {
            margin-bottom: 40px;
        }

       

        .flower4 {
            width: 125px;
            height: auto;
            bottom: -150px;
            right: -10px;
        }

        .howItWorks {
            margin: 0 32px 60px 20px;
            position: relative;
        }

        .howItWorks h2 {
            margin-bottom: 20px;
        }

        .backPay {
            max-width: 100%;
            border-radius: 5px;
            
        }

        .backPay {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .payDecs p {
            margin-bottom: 0;
        }

        .button_fid {
            margin-top: 40px;
        }
        
        
    }

    @media (max-width:805px) {
        .footerContainer {
            display: none;
        }

        .footerContainer2 {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            padding: 12px 20px;
            
        }
        
        .donateButtonFooter {
            margin-top: 27px;
            margin-bottom: 95px;
            max-width: 88.9%;
        }


        .footerNavigation {
            max-width: 88.9%;
            font-size: 1rem;
            color: #FFFFFF;
        }

        .socialIcons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            height: 165px;
            margin-bottom: 42px;
            
        }

        .socialIcons a{
            width: 26px;
            height: 26px;
        }

    }

    @media (max-width: 780px) {

       


        .WatchYourFavoriteAnimalOnline {
            background-size: 100% 373px;
            margin-top: 32px;
            height: 373px;
            top: -2rem;
            margin-bottom: 38px;
        }
        

        .watchAnimal_circl {
            width: 237.6px;
            height: 237.6px;
            top: 39.23px;
            right: 11%
        }

        .watchAnimal_text {
            font-size: 54.42px;
            line-height: 75%;
            width: 255px;
            top: 78px;
            right:2.3%
        }

        .watchAnimal_container .button {
            right: 50%;
            top: 282px;
            left: 20px;
        }

        .TheBackstage, .pets_container {
            padding: 0 3.1%;
            
        }


        .container_Backstage {
            margin-top: 0px;
            margin-bottom: 75px;
            padding: 0;
        }

        .content_Backstage_img {
            display: none;
        }

        .textDed {
            max-width: 81%;
        }
        .textDed h1,  .textDed h2{
            margin-left: 4px;
        }

        

        .textDed p:first-of-type{
            margin-bottom: 30px;
            line-height: 130%;
        }

        .textDed h2 {
            margin-bottom: 20px;
        }

        .flower1  {
            display: block;
            max-width: 36.1%;
            height: 470px;
            top: -4.4rem;
            right: -30px;
        }

    }
  
    @media (max-width: 680px) {
        .wayForPay > img {
            display: none;
        }
        
        .wayForPay .Greenarrows {
            display: block;
            position: absolute;
            top: 50px;
        }

        .Greenarrows.one {
            right: 62%;
        }

        .Greenarrows.two {
            right: 26.5%;
        }

        .buttonFeadbackWrapper {
            margin: 0;
            display: flex;
            justify-content: center;
        }

        .buttonFeadback {
            max-width: 240px;
            margin-top: 40px;
        }
        
    
    }

    @media (max-width: 640px) {




        header {
            max-width: 100%;
            padding: 0, 3.1%, 0, 3.1%;
            position: fixed;
            z-index: 11;
            top: 0;
        }

        .headerContainer {
            max-width: auto;
            height: 34px;
        }

        .logo2 {
            width: 47px;
            height: 29px;
        }

        .burger-menu {
            width: 18px;
            height: 10px;
        }

        .burger-menu, .logo2 {
            display: block;
        }

        .underCont, .infoDesign {
            display: none;
        }
    }


        @media (max-width: 555px) { 
            .list1, .list2 {
                position: static;
                justify-content: space-between;
            }

            .relsa2 {
                position: static;
            }




            .TheBackstage, .pets_container {
                padding: 0 3.1%;
                margin-bottom: 40px;
            }

            .pets_container {
                margin-bottom: 60px;
            }
            .wrapButton {
                margin-top: 20px;
               
            }
    
    
            .container_Backstage {
                margin-top: 0px;
                margin-bottom: 40px;
                padding: 0;
            }
    
            .content_Backstage_img {
                display: none;
            }

            .textDed {
                max-width: 100%;
            }

            .textDed h1{
                font-size: 24px;
                line-height: 120%;
                margin-top: 30px;
                margin-bottom: 10px;
                margin-left: 0;
            }

            .textDed p:first-of-type{
                margin-bottom: 20px;
            }
            
            .textDed p:last-of-type{
                line-height: 140%;
            }

            .textDed h2 {
                margin-bottom: 10px;
                margin-left: 0;
            }

            .flower1  {
                display: none;
            }
    
            .list1 > div:last-child, .list2 > div:last-child .arrows {
                display: none;
                
            }

           
            .list1,  .list2 {
                flex-direction: column;
                
                height: 705px;
                align-items: center;
                
            }
            
            .CardsOfAnimal {
                max-width: 320px;
                height: 1388px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }

            .card1, .card2, .card3, .card4, .card5, .card6 {
                max-width: 95%;
                margin: 0;
                margin-bottom: 20px;
            }
            
            .arrows {
               display: none;
            }
    
            .button_pets {
                margin-top: 0;
                margin-bottom: 0;
            }

            .animal_description {
                height: 46.76px;
                padding-left: 12.47px;
                padding-right: 9.8px;
            }
    
            .animal_description p{ 
                font-weight: 300;
                font-size: 11.6901px;
                line-height: 120%;
            }
    
            .animal_description h3{ 
                font-weight: 500;
                font-size: 12.4695px;
                line-height: 140%;
            }
    
            .card1 div:first-child img, .card2 div:first-child img, .card3 div:first-child img, .card4 div:first-child img, .card5 div:first-child img, .card6 div:first-child img{
                max-height: 285.24px;
            }
            
            .card1 div:first-child, .card2 div:first-child, .card3 div:first-child, .card4 div:first-child, .card5 div:first-child, .card6 div:first-child{  
                max-height: 285.24px;
            }
    
            .flower2 {
                
            }
            
            .flower2 {
                display: none;
                
            }
    
            .flower22 {
                display: block;
                left: -10px;
                bottom: -60px;
                height: auto;
                max-width: 68px;
            }
            .flower3{
                right: -17px;
                width: 85px;
                bottom: -60px;
                height: auto;
            }
    
            .PickAndFeedAFriend {
                padding: 0 3.1% 0 3.1%;
            }

            .pickAndFeedСontent {
                margin: 20px 0;
                padding: 0;
            }


    
            .pickAndFeedText {
                margin: 10px 0 0 0;
            }
    
            .pickAndFeedСontent h1 {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 24px;
                line-height: 120%;
            }
    
            .pickAndFeedСontent h3 {
                margin-bottom: 20px;
                font-size: 18px;
                line-height: 120%;
                margin-bottom: 20px;
                text-align: center;
            }
    
            .pickAndFeedСontent p {
                display: none;
            }

            .howItWorks h2{
                font-size: 24px;
                line-height: 120%;
            }

            .howItWorks {
                margin: 0;
                position: relative;
            }

            .wayForPay {
                flex-direction: column;
                height: 715px;
            }

            .backPay {
                max-width: 100%;
            }

            .payDecs p {
                display: inline;
            }

            .payDecs  {
                margin-top: 10px;
            }
            .button_fid {
                margin-bottom: 40px;
                margin-top: 35px;
                
            }
            .pickAndFeedСontent p:last-of-type {
                margin-bottom: 30px;
    
            }

            .howItWorks h2 {
                margin-bottom: 20px;
            }
    
            .backPay {
                border-radius: 5px;
                
            }
    
            .backPay {
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .wayForPay > img {
                display: none;
            }

            .Greenarrows img {
                width: 100px;
                height: 25px;
            }

            .Greenarrows.one , .Greenarrows.two{
                display: block;
                right: 1%;
                transform: rotate(90deg);
                
            }

            .backPay_cont {
                position: relative;
            }
            .Greenarrows.one {
                top: 195px;
                right: -60px;
            }

            .Greenarrows.two {
                top: 195px;
                right: -60px;
            } 
        }

        @media (max-width: 470px) { 
            
    
            header {
                max-width: 100%;
                padding: 0, 3.1%, 0, 3.1%;
            }
    
            .headerContainer {
                max-width: auto;
                height: 34px;
            }

            .logo2 {
                width: 47px;
                height: 29px;
            }
    
            .burger-menu {
                width: 18px;
                height: 10px;
            }
    
            .burger-menu, .logo2 {
                display: block;
            }
    
            .underCont, .infoDesign {
                display: none;
            }

            .WatchYourFavoriteAnimalOnline {
                top: 0px;
                background-size: 100% 187px;
                height: 271px;
                margin-bottom: 0;
            }

            .watchAnimal_container {
                width: 100%;
                height: 187px;
            }

            .watchAnimal_circl {
                width: 119px;
                height: 119px;
                top: 22.17px;
                right: 11.5%
            }
 
            .watchAnimal_text {
                font-size: 28px;
                line-height: 75%;
                width: 128px;
                top: 41px;
                right:2.3%
            }
    
            .watchAnimal_container .button {
                padding: 0;
                right: 50%;
                top: 235px;
                left:50%;
                right: -50%;
                transform:translate(-50%, -50%);
                margin-bottom: 0;
            }
    
            .Testimonials_container {
                padding: 0;
                max-width: 640px;
                margin-top:30px;
                margin-bottom: 60px;
            }
    
            .Testimonials_container h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }
    
            .feedback_container {
                flex-direction: column;
                max-width: 93%;
            }
    
            .feedback {
                max-width: 100%;
                padding: 11px 29px 8px 12px;
                height: 109px;
                margin-bottom: 15px;
            }

            
    
            .text_feedback {
                height: 38px;
            }
    
            .progress {
                display: none;
            }
    
            .feedback:last-child {
                margin-bottom: 40px;
            }
    
            .buttonFeadbackWrapper {
                margin: 0;
                display: flex;
                justify-content: center;
            }
    
            .buttonFeadback {
                max-width: 240px;
            }
    
            .flower4 {
                display: none;
                height: 100px;
                width: auto;
                bottom: -35px;
                right: 0;
            }

            .flower44 {
                display: block;
                position: absolute;
                right: 0;
                
            }
    
            .footerContainer {
                display: none;
            }
    
            .footerContainer2 {
                display: none;
            }

            .footerContainer3 {
                display: block;
            }

            .footerContainer3 {
                padding: 20px 3.1% 20px 3.1%;
                
            }

            .onlyColumn {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                margin: 0 auto;
            }
    

            .socialIcons a, .socialIcons a:last-child {
                margin: 0;
            }
            
            

            .socialIcons {
                margin-top: 28px;
                margin-bottom: 0;
                height: 26px;
                display: flex;
                width: 65%;
                justify-content: space-between;
                flex-direction: row;
            }

            .donateButtonFooter {
                max-width: 100%;
                margin-bottom: 30px;
            }

            .designBy {
                margin-right: 0;
                margin-left: auto;
                text-align: start;
                margin-bottom: 30px;
            }

            .designBy p {
                font-size: 15px;
            }

            .footerNavigation {
                max-width: 92.7%;
            }

            .buttonFeadback {
                
                margin-top: 30px;
            }

        }
    
   /* Стилизация бургер меню*/

   .none {
    display: none
   }

   .darkBackcolor {
    background-color: rgb(0%, 0%, 0%, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
   } 

   .x_icon2 {
    width:14px;
    height: 14px;
   }

   .headerContainer2 {
    width: 100%;
    top: -329px;
    height: 329px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 13;
    padding: 10px;
    transition: 1s;
   }

   .logo_contaner2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30.4px;
   }

   .logo3 {
    width: 66px;
    height: 42px;
   }
   
   .headerNavigation2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    height: 207px;
    color: #000000;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
   }
   
   .headerNavigation2 li a{
    text-decoration: none;
    color: #000000;
   }